body {
  font-family: Helvetica Neue;
  background: linear-gradient(0deg, #006666 0%,#0099CC 100%);
  height: 100vh;
}
#title {
  color: #ffffff;
}
#title h1 {
  font-weight: 200;
  font-size: 69pt;
  text-align: center;
  text-shadow: 0px 0px 20px #000;
}
#title h1 .splice {
  font-weight: 400;
  color: #44ccff;
}

#receipt {
  background-color: white;
  padding: 25px;
  width: 600px;
  margin: 0 auto;
  font-size: 16pt;
  text-align: center;
  font-family: monospace;
  box-shadow: 0 5px 10px #000;
}

#receipt * {
  font-family: inherit;
  font-size: inherit;
}

#receipt table {
  width: 100%;
  font-size: 16pt;
}

.l {
  text-align: left;
}
.r {
  text-align: right;
}

#receipt input {
  border: none;
  padding: 0
  margin: 0;
  outline: none;
}
#receipt h4 {
  text-align: left;
  width: 200px;
  float: right;
  padding: 0;
  margin: 0;
}

#receipt h2 input {
  text-align: center;
}
#add-field {
  float: left;
  background-color: #00bbee;
  border: none;
  color: white;
  border-radius: 7px;
  font-weight: bold;
}
#add-field:hover {
  background-color: #0099CC;
}

#rtable .r input {
  width: 100px;
}
#stable {
  text-align: right;
}
#stable .sto {
  width: 100px;
  text-align: left;
}
#stable .sto input {
  width: 80px;
  text-align: left;
}
#submit {
  font-family: Helvetica Neue, Helvetica;
  float: right;
  background-color: red;
  border: none;
  color: white;
  border-radius: 3px;
}